{% extends "baseapis.html" %}
{% block title %} Lista de Repositorios {% endblock %}
{% block content %}
<br><br>
<p class ="center-align">
    <a  href="{% url "repositorios_create" %}" class="btn-floating btn-large waves-effect ">
        <i class="material-icons">add</i>

    </a>
    Agregar Repositorio
</p> <br><br>


    <h5 class="center-align"> Lista de Repositorios </h5> <br><br>

    <div class="container">
        <div class="row">

            <div class="col s12 center-align">

                <table class="bordered center-align">

                    <thead>
                      <tr>
                          <th data-field="name"> Nombre del Repositorio </th>
                          <th data-field="name"> Url </th>
                          <th data-field="actions"> Acciones</th>
                      </tr>
                    </thead>

                    <tbody>
                        {% for repositorio in repositorios %}

                            <tr>
                                <td> <span class="title"> {{ repositorio.Nombre }} </span> </td>
                                <td> <span class="title"> {{ repositorio.Url }} </span> </td>
                                <td> <a href="{% url "repositorios_edit" repositorio.id %}"> <i class="small material-icons">settings</i> </a>
                                     <a href="{% url "repositorios_delete" repositorio.id %}"> <i class="small material-icons">delete</i> </a>
                                </td>
                              </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>
    </div>

{% endblock %}