{% extends "baseapis.html" %}
{% block title %} Edit Package{% endblock %}
{% block content %}
    <br>
    <h5 class="center-align"> Editar Repositorio </h5> <br><br>

    <div class="row">
        <form class="center-align" action="" method="post">{% csrf_token %}
        <!-- Incluimos el contenido del template form_snippets-->
        {% include "info/form_snippets.html" %}

        <div class="row">
            <div class="col s12">
                <br><br>
                <button class="btn waves-effect waves-light center-align" type="submit" name="action">Agregar
                     <i class="material-icons right">send</i>
                </button>

                <a href="{% url "repositorios_list" %}" class="waves-effect waves-light btn">
                    <i class="material-icons right">delete</i>
                    Cancelar
                </a>

            </div>
        </div>
        </form>
    </div>

{% endblock %}